.detailsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.61);
  padding: 2rem 1rem;
  position: absolute;
  z-index: 999;
  min-width: auto;
  margin: -5rem 2rem;
  gap: 1rem;
}

.detailCard {
  text-align: left;
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.256);
  padding: 0 1.9rem;
}

.detailCard:last-of-type {
  border-right: 0;
}

.detailCard p {
  font-size: 0.7em;
  font-weight: bold;
  color: hsl(0, 0%, 59%);
  margin-bottom: 0.5rem;
}

.detailCard h2 {
  font-weight: 500;
}

/* Making responsive */

@media (max-width: 799px) {
  .detailsContainer {
    flex-wrap: wrap;
    grid-template-columns: auto auto;
  }

  .detailCard {
    text-align: left;
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.256);
    padding: 0 1rem;
    width: 200px;
  }

  .detailCard:nth-child(even) {
    border-right: 0;
  }

  .detailCard h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .detailsContainer {
    padding: 1rem 2.5rem;
    margin-top: -30px;
    grid-template-columns: auto;
  }

  .detailCard {
    padding: 0.3rem;
    text-align: center;
    border-right: 0;
    width: 100%;
  }

  .detailCard p {
    font-size: 0.5em;
    margin-bottom: 0.3rem;
  }

  .detailCard h2 {
    font-size: 1.2em;
    font-weight: 500;
  }

  .detail::before {
    display: none;
  }
}
