.search {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  height: 43px;
}

.searchBtnIcon {
  width: 10px;
  height: 10px;
  color: white;
}

.searchBar {
  padding: 0.9rem 1rem;
  outline: none;
  font-size: 1rem;
  border: none;
  width: 35%;
  border-radius: 10px 0px 0px 10px;
}

.searchBtn {
  padding: 0.9rem 1.3rem;
  /* outline: none; */
  border: none;
  /* width: 800px; */
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: hsl(0, 0%, 17%);
}

@media (max-width: 756px) {
  .searchBar {
    width: 50%;
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .searchBar {
    width: 65%;
  }
}
