@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.appContainer {
  text-align: center;
}

.header {
  background-image: url("/src/Assets/Images/pattern-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 35vh;
  position: relative;
  /* min-height: 200px; */
}

.map {
  height: 65vh;
}

.header h2 {
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 1.9em;
  padding: 1.6rem 0;
}

.detailBox {
  /* position: sticky; */
  width: 100%;
  /* z-index: 999; */
  /* top: 10rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .header h2 {
    font-size: 1.2em;
    padding: 1rem 0;
  }
}

@media (max-width: 500px) {
  .detailBox {
    flex-wrap: wrap;
    /* flex: auto 1 1; */
  }
}
